In [28]:
import sys
import argparse
import pandas as pd
import submission


def score(predictions_df, ground_truth_df):
        # Merge predictions and ground truth on the 'id' column
    merged_df = pd.merge(predictions_df, ground_truth_df, on="nomem_encr", how="right")

    # Calculate accuracy
    accuracy = len(merged_df[merged_df["prediction"] == merged_df["new_child"]]) / len(
        merged_df
    )

    # Calculate true positives, false positives, and false negatives
    true_positives = len(
        merged_df[(merged_df["prediction"] == 1) & (merged_df["new_child"] == 1)]
    )
    false_positives = len(
        merged_df[(merged_df["prediction"] == 1) & (merged_df["new_child"] == 0)]
    )
    false_negatives = len(
        merged_df[(merged_df["prediction"] == 0) & (merged_df["new_child"] == 1)]
    )

    # Calculate precision, recall, and F1 score
    try:
        precision = true_positives / (true_positives + false_positives)
    except ZeroDivisionError:
        precision = 0
    try:
        recall = true_positives / (true_positives + false_negatives)
    except ZeroDivisionError:
        recall = 0
    try:
        f1_score = 2 * (precision * recall) / (precision + recall)
    except ZeroDivisionError:
        f1_score = 0
    # Write metric output to a new CSV file
    metrics_df = pd.DataFrame(
        {
            "accuracy": [accuracy],
            "precision": [precision],
            "recall": [recall],
            "f1_score": [f1_score],
        }
    )
    print(metrics_df)

In [12]:
predictions_df = pd.read_csv("PreFer_fake_outcome_predictions_same_as_outcome.csv")
ground_truth_df = pd.read_csv("PreFer_fake_outcome.csv")

In [44]:
predictions_df = predictions_df.rename(columns={'new_child': 'prediction'})
predictions_df

import numpy as np
predictions_df['prediction'] = [99, 99, 99,0,0,0,0,0,99,1,0,0,0,0,1,0,0,1,0,1,1,0,1,0,0,0,0,0,0,99]
predictions_df

    nomem_encr  prediction
0       700001          99
1       700002          99
2       700003          99
3       700004           0
4       700005           0
5       700006           0
6       700007           0
7       700008           0
8       700009          99
9       700010           1
10      700011           0
11      700012           0
12      700013           0
13      700014           0
14      700015           1
15      700016           0
16      700017           0
17      700018           1
18      700019           0
19      700020           1
20      700021           1
21      700022           0
22      700023           1
23      700024           0
24      700025           0
25      700026           0
26      700027           0
27      700028           0
28      700029           0
29      700030          99

In [45]:
merged_df = pd.merge(predictions_df, ground_truth_df, on="nomem_encr", how="right")
merged_df

    nomem_encr  prediction  new_child
0       700001          99          1
1       700002          99          0
2       700003          99          0
3       700004           0          0
4       700005           0          0
5       700006           0          0
6       700007           0          0
7       700008           0          0
8       700009          99          0
9       700010           1          1
10      700011           0          0
11      700012           0          0
12      700013           0          0
13      700014           0          0
14      700015           1          1
15      700016           0          0
16      700017           0          0
17      700018           1          1
18      700019           0          0
19      700020           1          1
20      700021           1          1
21      700022           0          0
22      700023           1          1
23      700024           0          0
24      700025           0          0
25      700026           0          0
26      700027           0          0
27      700028           0          0
28      700029           0          0
29      700030          99          0

In [46]:
len(merged_df[merged_df["prediction"] == merged_df["new_child"]])

25

In [49]:
true_positives = len(
        merged_df[(merged_df["prediction"] == 1) & (merged_df["new_child"] == 1)]
    )
false_positives = len(
        merged_df[(merged_df["prediction"] == 1) & (merged_df["new_child"] == 0)]
    )
false_negatives = len(
        merged_df[(merged_df["prediction"] == 0) & (merged_df["new_child"] == 1)]
    )

In [59]:
true_positives

6

In [48]:
precision = true_positives / (true_positives + false_positives)
recall = true_positives / (true_positives + false_negatives)
f1_score = 2 * (precision * recall) / (precision + recall)
print(f1_score,precision,recall)

1.0 1.0 1.0